
@{
    ViewBag.Title = "Successfully Registered";
}

<div class="container">
    <div class="row">
        <h2 style="text-align: left; text-shadow: 2px 2px #FF0000;">You have Successfully Created a New User..</h2>
        <br />
        <h4 >The Agent Code is:<span style="color: #FF0000;"> @ViewBag.AgentCode</span></h4>
    </div>
</div>
<h2></h2>

