@{
    ViewBag.Title = "Commission";
}

@Styles.Render("~/Content/jqueryui")
@Scripts.Render("~/Scripts/jqueryui")

<script type="text/javascript">
    //Code to call api and Display Sales Earning Monthwise
</script>

<!--
    Code to populate the text boxes and grid to display as per search record.    
-->
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Commission Book
        </div>
        <div class="row w3-res-tb">
            <div class="col-sm-5 m-b-xs">
                
            </div>
            <div class="col-sm-5">
               
            </div>
            <div class="col-sm-2">
                
            </div>
        </div>
    </div>
</div>