@{
    ViewBag.Title = "Commission";
}

@Styles.Render("~/Content/jqueryui")
@Scripts.Render("~/Scripts/jqueryui")
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
    //Code to call api and Display Sales Earning Monthwise
    $(document).ready(function () {
        var dateFormat = "mm/dd/yy",
            from = $("#from")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    changeYear: true,
                    numberOfMonths: 1
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }

        $("#btnReport").click(function (evt) {
            var total = 0;
            $.ajax({
                type: "POST",
                url: "@Url.Action("CommissionByDate", "SalesView")",
                data: { "startDate": $("#from").val(), "endDate": $("#to").val()},
                success: function (response) {
                    var tr_str = "";
                    for (var j = 0; j < response.length; j++) {

                        var OrderId = response[j].OrderId;
                        var AgentCode = response[j].AgentCode;
                        var PorpSellingPrice = response[j].PorpSellingPrice;
                        var SaleDate = response[j].SaleDate;
                        var Commission = response[j].Commission;

                        tr_str += "<tr>" +
                            "<td>" + (j + 1) + "</td>" +
                            "<td>" + OrderId + "</td>" +
                            "<td>" + AgentCode + "</td>" +
                            "<td>" + PorpSellingPrice + "</td>" +
                            "<td>" + SaleDate + "</td>" +
                            "<td>" + Commission + "</td>" +
                            "</tr>";
                        total += parseInt(Commission);
                    }
                }
            });
        });

    });
</script>

<!--
    Code to populate the text boxes and grid to display as per search record.
-->
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Commission Book
        </div>
        <div class="row w3-res-tb">
            <div class="col-sm-2 m-b-xs">
                Select date Range:
            </div>
            <div class="col-sm-6  m-b-xs">
                <label for="from">From</label>
                <input type="text" id="from" name="from">
                <label for="to">to</label>
                <input type="text" id="to" name="to">
            </div>
            <div class="col-sm-4 m-b-xs">
                <button type="button" id="btnReport">Report</button>
                <button type="button" id="btnPdf">Download PDF</button>
            </div>
        </div>
        <div class="table-responsive">
            <table id="userTable" class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Order Id</th>
                        <th>Agent Code</th>
                        <th>Selling Price</th>
                        <th>Order Date</th>
                        <th>Commission</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
        <div class="row w3-res-tb" style="float:right">
            <label for="total">Total Commission:</label>
            <label id="totalEarning"></label>
        </div>
    </div>
</div>